
<div class="jumbotron">Greetings {{name}}</div>

<!--<div class="rowfield" style="width:100px;height:100px;">Test</div>-->

<!--<app-scopetest></app-scopetest>-->
<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th></th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td>{{contact | contactName}} </td>
    <td>{{contact.email}}</td>
    <td>
      <button class="btn">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<app-contact-form (add)="addContact($event)"></app-contact-form>

<!--<form (ngSubmit)="addContact()" [formGroup]="addContactForm">-->
<!--  <label for="inputFirstName">Firstname:</label>-->
<!--  <input type="text" name="firstName"-->
<!--         id="inputFirstName" class="form-control" formControlName="firstName">-->
<!--  <label for="inputSurname"> Surname:</label>-->
<!--  <input type="text" name="surname"-->
<!--         id="inputSurname" class="form-control" formControlName="surname">-->
<!--  <label for="inputEmail"> E-mail address:</label>-->
<!--  <input type="email" name="email"-->
<!--         id="inputEmail" class="form-control" formControlName="email">-->

<!--  <div *ngIf="addContactForm.get('firstName').errors?.required" >Please enter your firstname </div>-->
<!--  <div *ngIf="addContactForm.get('surname').errors?.required" >Please enter your surname </div>-->
<!--  <div *ngIf="addContactForm.get('email').errors?.required" >Please enter your e-mail address </div>-->

<!--  <button class="btn btn-primary" [disabled]="!addContactForm.valid">Add</button>-->
<!--</form>-->




